<h1>Edit Comment</h1>

<%= form_for @comment, :url => edit_post_comment_path do |f| %>
<%= render :partial => 'comment_form', :locals => {:f => f } %>

<p>
<%= f.submit "update", :class => "btn btn-primary" %>
</p>	
	
<% end %>

