<div class="container">
<h3>About</h3>

<hr>

<p>First name: <%= current_user.first_name %></p>
 
 
<p>Last name: <%= current_user.last_name %></p>
 
 
<p>User bio: <%= current_user.bio %></p> 
</div>

