/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "select2-bootstrap";

.header {
	line-height: 50px;
  background-color: whitesmoke;	

	h1 {
		font-family: 'Cabin', sans-serif;
		letter-spacing: -1px;
    font-size: 2rem;
    text-transform: uppercase;
		
		a, {
		color: #2C3033; 
		}

	  a:hover {
			text-decoration: none;
			color: #6F7579;
		}
	}
}

.container {
	width: 80%;
}

.content {
	padding-top: 20px;
	h1 {
		font-size: 2.2rem;
	}
}

#table-style tr td {
  vertical-align: center !important;
  text-align: center;
}

#table-style tr td:nth-child(2) {
  text-align: left;
}

#table-style tr:nth-child(1) td:nth-child(2) {
  text-align: center;
}

